@use 'reset';
@use 'var';
body{
    font-family: var.$fontFamily;
    background-color: var.$BackgroundColor;
}
.header{

    &__items{
        display: flex;
        width: 100%;
        flex-direction: row;
        padding: 24px 2.4vh;
        justify-content: center;


        &_Item{
            padding: 12px;
            a{
                text-decoration: none;
                color: var.$fontColorText;
        }
    }
    
}
}