@use 'reset';
@use 'var';
body{
    font-family: var.$fontFamily;
    background-color: var.$BackgroundColor;
}
.header{

    &__items{
        display: flex;
        width: 100%;
        flex-direction: row;
        padding: 24px 2.4vh;
        justify-content: center;


        &_Item{
            padding: 12px;
            a{
                text-decoration: none;
                color: var.$fontColorText;
        }
    }
    
}
}
.Home{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 2.4vh;

    &__image{
        margin-top: 4vh;
        width: 60%;
        padding: 24px;
        img{
            width: 100%;
        }
    }
    &__text{
        margin-top: 4vh;
        width: 40%;
        color: var.$fontColorText;
        text-align: center;

        &__description{
            margin-top: 2.4vh;
            font-size: 16px;
        }
    }
}
.trailer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 2.4vh;

    &__container{
        justify-content: center;
        align-items: center;
        

        &__title{
            text-align: center;
            margin-bottom: 24px;
        }
    }
}

.title{
    color: var.$fontColorTitule;
    font-size: 3.6vh;
}

.gallery{
    &__title {
        text-align: center;
        margin-bottom: 24px;
    }
    &__images{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 14px;
        justify-content: center;
        align-items: center;
        padding: 24px 2.4vh;
    }

    &__image{
        
    justify-content: center;
    align-items: center;
        margin: 12px;
        width: 300px;
        img{
            width: 100%;
            height: 20vh;
        }
    }
}
.Sinopse{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px 5vh;
    padding: 10px;
    background-color: var.$BackgroundColorBox;
    border-radius: 12px;
    &__image{
        margin-top: 4vh;
        width: 60%;
        height: auto;
        padding: 24px;
        img{
            width: 100%;
            height: auto;
        }
    }

    &__text{
        margin-top: 4vh;
        width: 60%;
        color: var.$fontColorText;
        text-align: center;

        &__description{
            margin-top: 2.4vh;
            font-size: 16px;
        }
    }
}

footer{
    color: var.$fontColorText;
    text-align: center;
    padding: 12px;
    font-size: 14px;
    

}
